@font-face {
  font-family: 'Fredericka the Great';
  font-weight: 400;
  font-style: normal;
  src: url('./../assets/fonts/FrederickatheGreat-Regular.ttf');
}

@font-face {
  font-family: 'Cabin Sketch';
  font-weight: 400;
  font-style: normal;
  src: url('./../assets/fonts/CabinSketch-Bold.ttf');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: normal;
  src: url('./../assets/fonts/Cabin-Regular.ttf');
}
