html {
    font-size: 10px;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: 'Cabin', sans-serif;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 15%;
    .overlay {
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
    }
}

.wrapper {
    width: 102rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
}

.central-container {
    display: flex;
    display: grid; 
    grid-template-columns: 20% 80%;
    grid-template-rows: 43rem 25rem; 
}

.leaflet-control-attribution,
.leaflet-control {
    background-color: transparent;
    color: transparent;
    opacity: 0;
    visibility: hidden;
}

.leaflet-control-attribution svg,
.leaflet-control svg,
.leaflet-control-attribution svg path,
.leaflet-control svg path {
    fill: transparent !important;
}

@media screen and (min-width: 500px) and (max-width: 1048px) {
    .wrapper {
        max-width: 100%;
        flex-direction: column;
    }
    .central-container {
        grid-template-rows: 40rem 25rem;

        .bottom-container {
            width: 100%;
        }
    }
    
}

